# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/

# dotenv
.env

# OS
.DS_Store
Thumbs.db

# Cache user data
cache/*.txt
cache/pycache/
